<h4>Listing Teams</h4>

<table>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Add Member', new_membership_path(team) %><td>
        <td><%= link_to 'Edit Name', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
