<p id="notice"><%= notice %></p>

<strong>Team Name:</strong>
<%= @team.name %>

<br>

<strong>Members:</strong>
<table>
  <tbody>
    <% @team.people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td> <%= link_to 'Delete Member', membership_path(person, @team), method: :delete, 
                data: { confirm:'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Member', new_membership_path(@team) %> |
<%= link_to 'Edit Team Name', edit_team_path(@team) %>
