<h1><%= @organization.name %></h1>

<%= link_to 'Teams', teams_path %> | 
<%= link_to 'People', people_path %>

<br>
<br>
<h6>Pairings:</h6>

<% @organization.pairs.each do |pair| %>
  <% if pair[0].is_a? String %>
    <span>No Pair</span>
  <% else %>
    <%= link_to pair[0].name, person_path(pair[0]) %>
  <% end %>
   | 
  <% if pair[1].is_a? String %>
    <span>No Pair</span>
  <% else %>
    <%= link_to pair[1].name, person_path(pair[1]) %>
  <% end %>

  <br>
<% end %>