<h1><%= Organization.first.name %></h1>
<%= link_to 'Home', root_path %> | 
<%= link_to 'People', people_path %> |
<%= link_to 'Teams', teams_path %> | 
<%= link_to 'Generate Pairings', organizations_generate_pairings_path %>

<br><br>